<% if (title) { %>
    <h1 class="all-forms"><%= title %></h1>
    <% } else { res.redirect("/") } %>
    
    <p><%- messages() %></p>
    
    <form class="add-inventory-form all-forms message-inbox" action="/message/replyMessage" method="post">
      <h2>Send New Message</h2>
      <label for="message_from">Reply To: </label>
      <input type="text" id="message_from" name="message_from" readonly value="<%- sender %>"><br />

    
      <label for="message_subject">Subject: </label>
      <input type="text" name="message_subject" id="message_subject" value="RE:<%- subject %>" /><br />
    
      <label for="message_body">Body: </label>
      <textarea name="message_body" id="message_body" cols="35" rows="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;///////////PreviousMessage//////////&nbsp;&nbsp;<%- messageBody %></textarea
      ><br />
    
      <input type="submit" value="Reply Message" />
      <input type="hidden" name="message_id"
             <% if(message_id) { %>
                value="<%= message_id %>"
                
             <% } %> > 
    </form>
    
    <a href="/message/">Return to Inbox</a>